[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lilyana-Ihtimanska
[access "refs/for/refs/*"]
	read = group user/Lilyana-Ihtimanska
	push = group user/Lilyana-Ihtimanska
	label-Code-Review = -2..+2 group user/Lilyana-Ihtimanska
	label-Verified = -1..+1 group user/Lilyana-Ihtimanska
	rebase = group user/Lilyana-Ihtimanska
	removeReviewer = group user/Lilyana-Ihtimanska
	submit = group user/Lilyana-Ihtimanska
[access "refs/heads/*"]
	read = group user/Lilyana-Ihtimanska
	create = group user/Lilyana-Ihtimanska
	push = +force group user/Lilyana-Ihtimanska
	pushMerge = group user/Lilyana-Ihtimanska
[access "refs/tags/*"]
	push = group user/Lilyana-Ihtimanska
	push = +force group user/Lilyana-Ihtimanska
